*{
    margin: 0;
    padding: 0;
}
body{
    height: 70vh;
    width: 100vw;
    background-image:url(./images.jfif);
    background-size: 100% 100%;
}
.keys{
    height: 20vh;
    width: 95vw;
    border: 8px solid aqua;
    margin: 0 auto;
    position: relative;
    top:30vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.key{
    height: 100%;
    width: 8%;
    border: 3px solid rgb(250, 245, 245);
    border-radius: 10px;
    background:rgba(0,0,0,0,4);
    transition: all 0.0.07s ease;
}
kbd{
    display: block;
    font-size: 4rem;
    color: #ffc600;
}
span{
    font-size: 24px;
    color:wheat;
    text-transform: uppercase;
}
.playing{
    transform: scale(1.1);
    border-color: yellowgreen;
    box-shadow: 0 0 1px #ffc600;
    
}